{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="form">

	{% for message in form.username.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}
	{% for message in form.password.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}
	<form action="{{url_for('account_frontend.login')}}" method="post">
	<h2 class="form-signin-heading">Log in</h2>
		{{ form.hidden_tag() }}

		{{ form.username.label }}
		{{ form.username }}

		{{ form.password.label }}
		{{ form.password }}
		<br>
		<p><input class="btn btn-primary btn-block" id="submit" name="sumbit" type="submit" value="Log in"><p>
	</form>
 </div>
</div>

{% endblock %}
