{% extends "base.html" %}
{% block content %}
<div class="container">

<div class="form">

	{% for message in form.username.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}
	{% for message in form.password.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}
	<form action = "{{ url_for('account_frontend.signup') }}" method="post">
	<h2 class="form-signin-heading">Sign up</h2>
		{{ form.hidden_tag() }}

		{{ form.username.label }}
		{{ form.username(size=30) }}

		{{ form.password.label }}
		{{ form.password(size=30) }}
		<br>
		<p><input class="btn btn-success btn-block" id="submit" name="sumbit" type="submit" value="Sign Up"></p>
	</form>
 </div>
</div>

{% endblock %}
