{% extends "layout.html" %}
{% block content %}
<div class="container">
<form action="{{url_for('post_backend.new')}}" method=post>
	<input class="btn btn-danger" id="submit" name="submit" type="submit" value="Add a new post!">
</form>
	<table class="table">
		<tr>
			<th>Post</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for post in posts %}
		<tr>
			<td><a href="{{ url_for('post_backend.view', id=post.pId) }}">{{ post.title }}</a></td>
			<td><a href="{{ url_for('post_backend.edit', id=post.pId) }}">Edit</a></td>
			<td><a href="{{ url_for('post_backend.remove', id=post.pId) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
