{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="form">
<form action="{{url_for('post_backend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<h2 class="form-signin-heading">Create New Post</h2>
<form action="{{url_for('post_backend.new')}}" method=post>
	{{ form.hidden_tag() }}

	{{ form.title.label }}
	{{ form.title }}
 
	{{ form.content.label }}
	{{ form.content }}
 
	{{ form.category.label }}
	{{ form.category }}
	<br>
	{{ form.tags.label }}
	{{ form.tags }}

	<input class="btn btn-primary btn-block" id="submit" name="submit" type="submit" value="Post">
</form>
</div>
</div>
{% endblock %}
