{% extends "layout.html" %}
{% block content %}
<div class="container">
<form action="{{url_for('post_backend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<div class="page-header">
<h1>{{post.title}}</h1>
</div>



<div class="panel panel-default">
  <div class="panel-body">
<small class="text-center"><h6>Publish time:{{ post.publishTime }}&nbsp;&nbsp; Last edited:{{ post.modifiedTime }}</h6>
<h6 class="text-center">Category:{{ post.categories.name }} &nbsp;&nbsp;Tag:
		{% for tag in post.tags%}		
			{{tag.name}}
		{% endfor %}</h6></small>
<p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;{{ post.content }}</p>
  </div>
</div>
</div>

{% endblock %}
