.form {
  	max-width: 330px;
  	padding: 15px;
 	margin: 0 auto;

}
.form .form-signin-heading,{
  margin-bottom: 10px;

}

.page-header {
    text-align: center;
}

input[type="password"] {
	margin-bottom: 20px;
    width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
input[type="text"] {
	margin-bottom: 20px;
    width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
textarea {
	margin-bottom: 20px;
    width: 100%;
    height: 200px;
}
