{% extends "layout.html" %}
{% block content %}
<div class="container">
<form action="{{url_for('category_backend.new')}}" method=post>
	<input class="btn btn-danger" id="submit" name="submit" type="submit" value="Add a new category!">
</form>
	<table class="table">
		<tr>
			<th>Category</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for category in categories %}
		<tr>
			<td><a href="{{ url_for('category_backend.view', id=category.cId) }}">{{ category.name }}</a></td>
			<td><a href="{{ url_for('category_backend.edit', id=category.cId) }}">Edit</a></td>
			<td><a href="{{ url_for('category_backend.remove', id=category.cId) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
