{% extends "layout.html" %}
{% block content %}
<div class="container">
<div class="form">
<form action="{{url_for('category_backend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<h2 class="form-signin-heading">Create New Category</h2>
	<form action = "{{ url_for('category_backend.new') }}" method=post>
		{{ form.hidden_tag() }}

		{{ form.name.label }}
		{{ form.name }}

		{{ form.description.label }}
		{{ form.description }}

		<p><input class="btn btn-primary btn-block" id="submit" name="sumbit" type="submit" value="Create"></p>
	</form>
 </div>
</div>
{% endblock %}
