{% extends "layout.html" %}
{% block content %}
<div class="container">
<form action="{{url_for('category_backend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<div class="page-header">
<p>Name:{{category.name}}</p>
<p>Description:{{category.desciption}}</p>
</div>
</div>
{% endblock %}
