<html>
	<head>
		<title>Mini Blog</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js"') }}"/>
	</head>
	<body>
    <div id="wrap">
    <div class="navbar-wrapper">


        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
		        <div class="navbar-header">
		          <a class="navbar-brand" href="/index">Mini Blog</a>
		        </div>
		        <div class="navbar-collapse collapse">
				    <ul class="nav navbar-nav">
				        <li class="active"><a href="/index">Home</a></li>
						{% if session["isadmin"] %}
						<li><a href="/new">Post it!</a></li>
						<li><a href="/admin">Control Panel</a></li>
						{% endif %}
					</ul>
					{% if not session["username"] %}
		    		<div class="navbar-collapse collapse">
		      			<form class="navbar-form navbar-right" role="form" action="{{ url_for('account_frontend.signup') }}">
		       	 			<button type="submit" class="btn btn-success" >Sign up</button>
		      			</form>
		      			<form class="navbar-form navbar-right" role="form" action="{{ url_for('account_frontend.login') }}">
		       	 			<button type="submit" class="btn btn-primary" >Log in</button>
		      			</form>
					</div><!--/.navbar-collapse -->
					{% else %}
					
		    		<div class="navbar-collapse collapse">
		      			<form class="navbar-form navbar-right" role="form" action="{{ url_for('account_frontend.logout') }}">
		       	 			<button type="submit" class="btn btn-danger" >Log out</button>
		      			</form>
					</div><!--/.navbar-collapse -->
	  				{% endif %}
		        </div>
          </div>
        </div>


    </div>



      <!-- Begin page content -->

		{% block content %}{% endblock %}


	</div>
	</body>
</html>
