<html>
	<head>
		<title>Mini Blog</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}"/>
		<link rel="stylesheet" href="{{ url_for('static', filename='js/bootstrap.min.js"') }}"/>
	</head>
	<body>
    <div id="wrap">
    <div class="navbar-wrapper">


        <div class="navbar navbar-inverse navbar-static-top" role="navigation">
          <div class="container">
		        <div class="navbar-header">
		          <a class="navbar-brand" href="/admin">Control Panel</a>
		        </div>
		        <div class="navbar-collapse collapse">
				    <ul class="nav navbar-nav">
				        <li><a href="/admin">Home</a></li>
						<li><a href="/admin/account">Account</a></li>
						<li><a href="/admin/post">Post</a></li>
						<li><a href="/admin/category">Category</a></li>
						<li><a href="/admin/comment">Comment</a></li>
					</ul>

		    		<div class="navbar-collapse collapse">
		      			<form class="navbar-form navbar-right" role="form" action="{{ url_for('post_frontend.index') }}">
		       	 			<button type="submit" class="btn btn-danger" >Exit</button>
		      			</form>
					</div><!--/.navbar-collapse -->

		        </div>
          </div>
        </div>


    </div>



      <!-- Begin page content -->

		{% block content %}{% endblock %}


	</div>
	</body>
</html>
