{% extends "layout.html" %}
{% block content %}
<div class="container">
	<table class="table">
		<tr>
			<th>Post ID</th>
			<th>Content</th>
			<th>Delete</th>
		</tr>
		{% for comment in comments %}
		<tr>
			<td>{{ comment.postId }}</td>
			<td>{{ comment.content }}</td>
			<td><a href="{{ url_for('comment_backend.remove',id=comment.id) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
</div>
{% endblock %}
