{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="form">

 	{% for message in form.title.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}
	{% for message in form.content.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}
<form action="?{{ request.query_string }}" method=post>
<h2 class="form-signin-heading">Edit Post</h2>
    {{ form.hidden_tag() }}
 
    {{ form.title.label }}
    {{ form.title }}
 
    {{ form.content.label }}
    {{ form.content }}
 
    {{ form.category.label }}
    {{ form.category }}
	<br>
    {{ form.tags.label }}
    {{ form.tags }}

	<input class="btn btn-primary btn-block" id="submit" name="submit" type="submit" value="Edit">
</form>
</div>
</div>
{% endblock %}
