{% extends "base.html" %}
{% block content %}
    <div class="container">
{% for post in posts %}

	<div class="page-header">
	<h1>
		<a href="{{ url_for('post_frontend.view', id=post.pId) }}" style=" text-decoration: none;color: black">{{ post.title}}</a>
		{% if session["isadmin"] %}
		<small><a href="{{ url_for('post_frontend.edit', id=post.pId) }}" class="label label-primary">edit</a></small>
		<h5><small >Category:{{ post.categories}}</small></h5>
		{% endif %}
	</h1>
	</div>

{% endfor %}
	</div>
{% endblock %}
