{% extends "base.html" %}
{% block content %}
<div class="container">
<div class="form">

	{% for message in form.title.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}
	{% for message in form.content.errors %}
	<div class="alert alert-danger">
		<strong>Warning!</strong> {{message}}
	</div>
	{% endfor %}

<form action="{{url_for('post_frontend.new')}}" method="post">
<h2 class="form-signin-heading">Create New Post</h2>
	{{ form.hidden_tag() }}
 
    {{ form.title.label }}
    {{ form.title }}
 
    {{ form.content.label }}
    {{ form.content }}
 
    {{ form.category.label }}
    {{ form.category }}

    {{ form.tags.label }}
    {{ form.tags }}
	<br>
	<p><input class="btn btn-success btn-block" id="submit" name="submit" type="submit" value="Post"></p>
</form>
</div>
</div>

{% endblock %}
