{% extends "base.html" %}
{% block content %}
<div class="container">

<form action="{{url_for('post_frontend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<div class="page-header">
<h1>{{post.title}}</h1>
</div>



<div class="panel panel-default">
  <div class="panel-body">
<small class="text-center"><h6>Publish time:{{ post.publishTime }}&nbsp;&nbsp; Last edited:{{ post.modifiedTime }}</h6>
<h6 class="text-center">Category:{{ post.categories.name }} &nbsp;&nbsp;Tag:
		{% for tag in post.tags%}		
			{{tag.name}}
		{% endfor %}</h6></small>
<p class="lead">&nbsp;&nbsp;&nbsp;&nbsp;{{ post.content }}</p>
  </div>
</div>

{% if post.comments %}

		{% for comment in post.comments %}
<div class="panel panel-default">
  <div class="panel-body">
	<p class="lead">{{ comment.content }}

{% if session["roleid"] == 1 or session["userid"] == comment.authorId %}
<a href="{{url_for('comment_frontend.remove',pId = post.pId , commentId = comment.id)}}" class="label label-danger">delete</a>
{% endif %}</p>
	<small >Publish time:{{ comment.publishTime }}
	
  </div>
</div>
		{% endfor %}

{% endif %}
<div class="form">
<form action="{{url_for('comment_frontend.new', id=post.pId)}}" method="post>
    {{ form.content.label }}
    {{ form.content }}
	<input class="btn btn-primary btn-block" id="submit" name="submit" type="submit" value="Comment!">
</form>
</div>

</div>
{% endblock %}
