{% extends "layout.html" %}
{% block content %}
<div class="container">

<div class="form">
<form action="{{url_for('account_backend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<h2 class="form-signin-heading">Edit User</h2>
<form action="?{{ request.query_string }}" method=post>
		{{ form.hidden_tag() }}

		{{ form.password.label }}
		{{ form.password }}

	<input class="btn btn-primary btn-block" id="submit" name="submit" type="submit" value="Edit">
</form>
 </div>
</div>
{% endblock %}
