{% extends "layout.html" %}
{% block content %}
<div class="container">
<form action="{{url_for('account_backend.new')}}" method=post>
	<input class="btn btn-danger" id="submit" name="submit" type="submit" value="Add a new account!">
</form>
	<table class="table">
		<tr>
			<th>User</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
		{% for user in users %}
		<tr>
			<td><a href="{{ url_for('account_backend.view', id=user.uId) }}">{{ user.userName }}</a></td>
			<td><a href="{{ url_for('account_backend.edit', id=user.uId) }}">Edit</a></td>
			<td><a href="{{ url_for('account_backend.remove', id=user.uId) }}">Delete</a></td>
		</tr>
		{% endfor %}
	</table>
</div>

{% endblock %}
