{% extends "layout.html" %}
{% block content %}
<div class="container">

<div class="form">
<form action="{{url_for('account_backend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<h2>Create New User</h2>
	<form action = "{{ url_for('account_backend.new') }}" method=post>
		{{ form.hidden_tag() }}

		{{ form.username.label }}
		{{ form.username }}

		{{ form.password.label }}
		{{ form.password }}

		<p><input class="btn btn-primary btn-block" id="submit" name="sumbit" type="submit" value="Create"></p>
	</form>
 </div>
</div>
{% endblock %}
