{% extends "layout.html" %}
{% block content %}
<div class="container">

<form action="{{url_for('account_backend.index')}}" method=post>
	<input id="submit" name="submit" type="submit" value="Back">
</form>
<div class="page-header">
<p>Username:{{user.userName}}</p>
<p>Password:{{user.password}}</p>
</div>
</div>
{% endblock %}
